.sidebar {
  color: $c_white;
  z-index: 2;

  .sidebar-wrapper {
    background-color: $c_primary;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    overflow: auto;

    .sidebar-header-responsive {
      padding-top: 30px;
      position: relative;
      background-color: $c_primary;
      z-index: 3;
      .logo {
        margin-left: 20px;
        width: 220px;
        height: 43px;
        img {
          width: 220px;
          height: 43px;
        }
      }
    }

    .sidebard-content-wrapper {

      &:hover, &:active, &:focus {
        .sidebar-content {
          transform: translateX(0);
        }
      }

      .menu-responsive-hamburger {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 60px;
        height: 64px;
        z-index: 5;
        img {
          cursor: pointer;
          width: 24px;
          padding: 20px 18px;
        }
      }

      .sidebar-content {
        margin-bottom: 30px;
        padding: 0 20px;
        transition: transform 0.3s;
        @media (prefers-reduced-motion) {
          transition: none;
        }
        .user-playlist {
          margin-bottom: 30px;
          .playlist {
            list-style-type: none;
            position: relative;
            padding-left: 36px;
            li {
              margin-bottom: 8px;
              cursor: pointer;
              &:before {
                content: counter(list-item) "\A0";
                position: absolute;
                left: 0;
              }
            }
          }
        }

        .friends-playlist {
          .playlist {
            margin-bottom: 40px;
            .playlist-item {
              display: flex;
              align-items: center;
              margin-bottom: 18px;
              cursor: pointer;
              img {
                margin-right: 14px;
              }
            }
          }
        }
      }
    }

    @media (max-width: map_get($screen, _md-max)) {
      height: calc(100vh - 64px);
      margin-top: 64px;
      padding-top: 0px;
      background: transparent;
      overflow: hidden;
      .sidebar-header-responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        padding-top: 0;
        display: flex;
        align-items: center;
        -webkit-box-shadow: -1px 8px 11px -1px rgba(0,0,0,0.2);
        box-shadow: -1px 2px 11px -1px rgba(0,0,0,0.4);
        .logo {
          margin-left: 60px;
          width: 190px;
          height: 37px;
          img {
            width: 190px;
            height: 37px;
          }
        }
      }

      .sidebard-content-wrapper {
        .menu-responsive-hamburger {
          display: block;

        }

        .sidebar-content {
          background-color: $c_primary;
          height: calc(100vh - 64px);
          overflow: auto;
          padding-top: 10px;
          transform: translateX(-300px);
        }
      }
    }
  }

}